
<div>
  <img class="background-img" src="<%= asset_path('logo-no-background.png') %>" alt="Logo">
</div>
<div class="btn-div">
<%= link_to 'Sign in', new_user_session_path, class: "btn-custom" %>
</div>

<%#= link_to 'Sign out', destroy_user_session_path, data: {turbo_method: :delete} %>