/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.container-custom {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100vh;
}

.card-custom {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 25%;
  align-items: center;
  justify-content: space-around;
}

.navbar-brand {
  color: #fff;
  font-weight: 800;
}

.text-container {
  width: 35%;
}

.img-rnd {
  max-width: 50%;
  max-height: 100%;
}

.img-container {
  max-width: 25%;
  max-height: 25%;
  margin-right: 5px;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5fb523;
  color: #fff;
  position: fixed;
  bottom: 1px;
  z-index: 9999;
  min-width: 100%;
  min-height: 20%;
  text-align: center;
  font-size: 2rem;
  border: #fff;
}

.btn-custom {
  background-color: #5fb523;
  color: #fff;
  border: 1px solid #fff;
  width: 90%;
  padding: 20px;
  text-decoration: none;
}

.amount {
  align-items: flex-end;
}

.background-img {
  margin: 4rem 0;
  max-width: 100%;
}

.hp-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: #3778c2;
}

body {
  height: 100vh;
  background-color: #e4e4e4;
}

a {
  text-decoration: none;
}

img {
  max-width: 50%;
}
